[2017-03-06 07:14] abhiprayaninfotech opened #372 "sdfdf"
### Supprt Question?
For support questions, please use one of these channels:
Gitter: https://gitter.im/dalelotts/angular-bootstrap-datetimepicker
Stack Overflow: http://stackoverflow.com/search?q=angular-bootstrap-datetimepicker

**This repository's issues are reserved for feature requests and bug reports.**

### Bug Reports
**You MUST have a JSBin recreation of the defect or your issue will be C

[2017-03-06 07:15] #372 closed

[2017-03-09 03:09] rpulyala opened #373 "Disable Past Dates before Start date in Date Range picker not working"
I have tried to use date range picker with validation controls the same way in the example code but it doesn't disable dates before Start date can you provide complete code.
### Supprt Question?
For support questions, please use one of these channels:
Gitter: https://gitter.im/dalelotts/angular-bootstrap-datetimepicker
Stack Overflow: http://stackoverflow.com/search?q=angular-bootstrap-datetimepic

[2017-03-09 13:25] dalelotts commented on #373
### This is a Support Question.
For support questions, please use one of these channels:
Gitter: https://gitter.im/dalelotts/angular-bootstrap-datetimepicker
Stack Overflow: http://stackoverflow.com/search?q=angular-bootstrap-datetimepicker

Also, look in the demo directory for examples of disabling dates.

[2017-03-09 13:25] #373 closed

[2017-03-10 09:39] ycpatel813 commented on #370
Sir, close this issue my problem is resolved. It was not error of datetimepicker.
Thank you.

[2017-03-10 14:47] dalelotts commented on #370
Okay, can you tell me what caused the issue?

[2017-03-10 14:47] #370 closed

[2017-03-13 03:41] ishwick commented on #370
Would be great if @ycpatel813 can explain how he fixed that issue; I also have the same.

[2017-03-14 06:50] rajatsawant commented on #331
Even after setting the startView to 'hour', it navigates to select the date....

[2017-03-19 18:18] mhlulani commented on #340
I've started on Angular 2 but need some help, please let me know what I should improve on.
https://mhlulani.github.io/datepicker

Thanks

[2017-03-21 11:40] mailmrmanoj opened #374 "Set minDate and maxDate in a single date picker"
How can I set minDate and maxDate validation in a single date picker ?

[2017-03-26 14:26] tanzaho commented on #240
@dalelotts you could add this to the documentation. I think it's easier if your library does not handle the dropdown itselft.

[2017-03-31 03:11] dalelotts commented on #374
### This is a Support Question?
For support questions, please use one of these channels:
Gitter: https://gitter.im/dalelotts/angular-bootstrap-datetimepicker
Stack Overflow: http://stackoverflow.com/search?q=angular-bootstrap-datetimepicker

[2017-03-31 03:11] #374 closed

[2017-03-31 03:11] #367 closed

[2017-04-13 17:35] slishnevsky opened #376 "This template not working with angular SPA app"
http://stackoverflow.com/questions/43398357/how-to-fix-dalelotts-angular-bootstrap-datetimepicker-not-working-with-angular

Please delete this. I made it work.

[2017-04-21 11:27] maurei commented on #350
I think it works pretty well with bootstrap 4 already, at least in the "Drop-down using text link" user case.

[2017-04-26 03:24] #376 closed

[2017-04-26 04:48] Karthik-Sundaramahalingam commented on #297
@dalelotts - I'm running into this same issue and I can't downgrade my jQuery v3.1.1. Is there any fix for this?

[2017-04-26 05:56] Karthik-Sundaramahalingam commented on #297
Okay.. Got it. This is the fix which I've done and it works with using jQuery v3.1.1 along with Bootstrap.js.
Changes are done in `data-target` and included a `div` element for the `data-target`

`<div class="dropdown"><a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target=".test" href="">
                    <div class="input-group">
                        <in

[2017-04-27 03:10] dalelotts commented on #297
@Karthik-Sundaramahalingam Nice! Do you happen to know if that same html will work with jquery 2.x?

[2017-04-27 04:41] Karthik-Sundaramahalingam commented on #297
@dalelotts - Yeah. It works fine even with jQuery v2.2.4.

[2017-04-30 16:30] dalelotts commented on #297
@Karthik-Sundaramahalingam thanks for the info! I played around a bit more and found what I think are the smallest changes needed to support jQuery 2 and 3. Can you have a look at the readme and let me know if I missed something?

[2017-05-03 05:02] Karthik-Sundaramahalingam commented on #297
@dalelotts - Yeah. Sure. I'm happy to have a look at it.

[2017-05-15 10:02] aby30 opened #378 "allow hour/time selections between min. & max. time across all dates"
Is there a way to allow selection of time(in 'hour' view) between minimum and maximum time/hour range specified and disable other hours. This should affect across all the dates.

[2017-05-15 12:36] dalelotts commented on #378
### This is a Support Question
For support questions, please use one of these channels:
Gitter: https://gitter.im/dalelotts/angular-bootstrap-datetimepicker
Stack Overflow: http://stackoverflow.com/search?q=angular-bootstrap-datetimepicker

[2017-05-15 12:36] #378 closed

[2017-05-17 12:04] saikrishnarao2 opened #379 "How to set the value for the datetimepicker element dynamically using angularjs?"
### Supprt Question?
For support questions, please use one of these channels:
Gitter: https://gitter.im/dalelotts/angular-bootstrap-datetimepicker
Stack Overflow: http://stackoverflow.com/search?q=angular-bootstrap-datetimepicker

**This repository's issues are reserved for feature requests and bug reports.**

### Bug Reports
**You MUST have a JSBin recreation of the defect or your issue will be C

[2017-05-17 12:25] dalelotts commented on #379
This is a Support Question?

For support questions, please use one of these channels:
Gitter: https://gitter.im/dalelotts/angular-bootstrap-datetimepicker
Stack Overflow: http://stackoverflow.com/search?q=angular-bootstrap-datetimepicker

[2017-05-17 12:25] #379 closed

[2017-05-17 13:40] saikrishnarao2 commented on #379
I need to set the value of the datetimepicker element.Can you help me on that?

[2017-05-17 13:46] dalelotts commented on #379
I can - use https://gitter.im/dalelotts/angular-bootstrap-datetimepicker or stack overflow

[2017-05-20 05:46] Karthik-Sundaramahalingam commented on #297
@dalelotts - It's perfect.

[2017-05-20 12:41] dalelotts commented on #297
@Karthik-Sundaramahalingam thanks for having a look!

[2017-05-22 10:08] SoftCreatR opened #380 "Custom Date/Time format display?"
Is there any way to display a formatted date/time in the input field? In `startDateOnSetTime()` and `endDateOnSetTime()` i'm overwriting the model, but since it is used by the picker, all i get is a javascript error saying, that the given date `22. Mai 2017 12:08` (`moment().format('LLL')`) is invalid.

[2017-05-22 11:15] SoftCreatR commented on #380
Nevermind, i was able to archieve this. What i did was setting the `data-ng-model` of the input field to a new property *Viewable, which is being updated via `*DateOnSetTime()`. The model is different from the one that is used for the datetimepicker directive.

[2017-05-22 11:15] #380 closed

[2017-05-22 12:13] dalelotts commented on #380
I'm glad you figured this out. The canonical solution for this is to use the [angular-date-time-input](https://github.com/dalelotts/angular-date-time-input) directive to format the display of a date in an input box or allow users to enter a valid date with the keyboard.

Also, issues are for defects. Questions about how to use the directive are not defects but support questions. For support questi

[2017-05-26 00:12] dalelotts opened #381 "On Angular 1.x? Please use a different npm package!"
Today, @alexw10 and I started working on the Angular 4+ version of this directive. In preparation for this project to eventually become Angular 4+ _only_, I cloned this repo and published a new npm package.

Starting today, you can install the Angular 1.x package with `npm install --save angularjs-bootstrap-datetimepicker`

[2017-05-26 00:16] dalelotts commented on #340
Today, @alexw10 and I started working on the Angular 4+ version of this component. See the `ngx` branch.

Please 👍 this issue (and `star` this repository) if you want Angular 4+ support.

You can also leave a comment below if you have specific requirement that we should know about, or are willing to pitch in with the new version.

[2017-05-31 07:35] ruchagit commented on #229
Hi, I wish to use the datetimepicker directive for picking only dates.
The timezones and the time selection is cumbersome.
How did you manage to use this directive for picking only dates?

[2017-05-31 13:19] dalelotts commented on #229
Use

[code]

[2017-05-31 21:30] anyayunli commented on #213
I can not believe you dont support ng-change at the beginning, since ng-change is one of the most important feature of angular

[2017-05-31 22:35] dalelotts commented on #213
@anyayunli I can't believe I didn't block you for that comment. Oh, wait, I did!

Next time consider making a contribution or a PR to the project rather than a snarky comment.

FYI, this project started before ng-change existed.

[2017-05-31 22:38] dalelotts commented on #213
@rcrodrigues Did you ever get ng-change working?

[2017-06-05 14:46] rcrodrigues commented on #213
@dalelotts yes, I remember I got it working. But I don't have access to that code anymore. I also remember I created a PR for this, but at the end it wasn't merged because the structure of this project changed.

[2017-06-06 11:40] parichayBatra opened #382 "How to disable past dates to the user by default?"
### Supprt Question?
For support questions, please use one of these channels:
Gitter: https://gitter.im/dalelotts/angular-bootstrap-datetimepicker
Stack Overflow: http://stackoverflow.com/search?q=angular-bootstrap-datetimepicker

**This repository's issues are reserved for feature requests and bug reports.**

### Bug Reports
**You MUST have a JSBin recreation of the defect or your issue will be C

[2017-06-06 11:53] #382 closed

[2017-06-06 16:56] khurrams84 opened #383 "I am trying to use it with angular4 cli project. not able to make it work."
here is my part of .angularcli.json file where you asked to add required items
"styles": [
        "../node_modules/bootstrap/dist/css/bootstrap.min.css",
        "styles.css",
        "../node_modules/angular-bootstrap-datetimepicker/src/css/datetimepicker.css"
      ],
      "scripts": [
        "../node_modules/jquery/dist/jquery.js",
        "../node_modules/angular/angular.min.js",
        ".

[2017-06-06 17:40] khurrams84 commented on #340
When this will be available. My project is waiting on this.

[2017-06-10 21:58] martinib77 commented on #240
I think most of people use the selector in the dropdown way.
What is your proposal to do that without the current dropdownSelector ?.

[2017-06-11 01:01] dalelotts commented on #240
@martinib77 it can be handled in the `on-set-time` callback

[2017-06-15 04:23] viethoanganh79 opened #384 "How to selecable Month if have date selecable in this month"
Tks 4 solution, it working 4 me
 i write a script check date between now and other date
![image](https://user-images.githubusercontent.com/15764130/27165210-96b87030-51bc-11e7-938e-9f2f7af1e23a.png)
so,... if i   check-out date of month
this month should be disable
![image](https://user-images.githubusercontent.com/15764130/27165244-d21569e4-51bc-11e7-954e-9fb3e643a09e.png)
u can help me ??

[code

[2017-06-15 05:25] dalelotts commented on #384
https://github.com/dalelotts/angular-bootstrap-datetimepicker#restrict-past-dates-from-being-selected

[2017-06-15 05:25] #384 closed

[2017-06-19 08:10] Robooots opened #385 "小时视图和分钟视图怎么才能采用24小时制?"
### Supprt Question?
For support questions, please use one of these channels:
Gitter: https://gitter.im/dalelotts/angular-bootstrap-datetimepicker
Stack Overflow: http://stackoverflow.com/search?q=angular-bootstrap-datetimepicker

**This repository's issues are reserved for feature requests and bug reports.**

### Bug Reports
**You MUST have a JSBin recreation of the defect or your issue will be C

[2017-06-19 14:54] dalelotts commented on #385
这个区域只是为了缺陷. 请使用https://gitter.im/dalelotts/angular-bootstrap-datetimepicker的问题

使用https://momentjs.com/docs/#/i18n/更改时间格式

[2017-06-19 14:54] #385 closed

[2017-06-19 14:55] #383 closed

[2017-06-19 14:56] dalelotts opened #386 "中文文件需要"
My Chinese is not good enough to write useful documentation in Chinese.

[2017-06-23 08:30] ld1992 commented on #386
好想送你一个原谅帽

[2017-06-25 03:41] Hezier1223 commented on #340
yeah，i am waiting for the version for angular4,how long willll i wait along...

[2017-06-27 20:02] dalelotts commented on #386
@ld1992 看不懂

[2017-06-29 04:32] dalelotts commented on #340
Sorry, I don't have a date for you at the moment. Please stay tuned! Since this issue only has two votes it doesn't seem like there is much demand for it right now.

[2017-07-12 13:40] garethstar opened #387 "Restrict historic date and time"
scope.startDateBeforeRender = function ($dates) {
                if (scope.blockHistoric) {
                    var preDate;
                    const dateNow = new Date();
                    $dates.filter(function (date) {
                        var now = new Date();
                        var utcdate = new Date(date.utcDateValue);
                        var utc = new Date(utcdate.getTime()

[2017-07-12 19:15] karinaaguiar opened #388 "invalid option: renderOn"
I am using version 0.3.15 of angular-bootstrap-datetimepicker, and I am getting an error:

`invalid option: renderOn <div class="datetimepicker table-responsive ng-isolate-scope" data-ng-model="vm.startDate" data-datetimepicker-config="{ minView: 'day', renderOn: 'start-date-changed' }" data-on-set-time="vm.closeDatePicker(newDate, 'start')" data-before-render="vm.setDateFormat($view, $dates, $lef

[2017-07-13 02:46] dalelotts commented on #388
### This is a support Question
For support questions, please use one of these channels:
Gitter: https://gitter.im/dalelotts/angular-bootstrap-datetimepicker
Stack Overflow: http://stackoverflow.com/search?q=angular-bootstrap-datetimepicker

The version you are using is very old, consider upgrading to a new version.

The correct html should include `data-before-render="vm.setDateFormat($view, $date

[2017-07-13 02:46] #388 closed

[2017-07-13 02:48] dalelotts commented on #387
### This is a support Question!
For support questions, please use one of these channels:
Gitter: https://gitter.im/dalelotts/angular-bootstrap-datetimepicker
Stack Overflow: http://stackoverflow.com/search?q=angular-bootstrap-datetimep

[2017-07-13 02:48] #387 closed

[2017-07-17 08:45] arvinwebavance opened #390 "Set the default month to show when opening the popup (not set the default date!)"
I have set a date range that starts in the future, but when opening the datepicker, the current month is shown. As the date range is in the future, it's not practical to show the current month because the user needs to go to the month in the range. How can I define which month should be shown as default when opening the datepicker? I don't want the model to have a default value (which would actual

[2017-07-17 21:57] dalelotts commented on #390
This is not currently supported. I suspect you could hook into the `before-render` callback and change all of the dates so the rendered model is the month you want, but that seems like a lot of work. (and I'm not sure it will work)

Another approach is to bind to one value for the `default` month, but use on `on-set-time` callback to set the "real" required model value.

As always, PR's accepted.

[2017-07-24 08:35] XJhis opened #391 "How do I display the number of items on the control"
my demand is that show number in datetimepicker,just show the number,don't have other event;I need to show the number of need to do in every day;

[2017-08-03 07:19] ccarlos009 opened #392 "angular bootstrap datetimepicker wont work on ui-bootstrap modal"
i got a problem when using this datetimepicker inside my UI modal..
please help
https://angular-ui.github.io/bootstrap/

[2017-08-03 14:43] dalelotts commented on #392
### Thsi is a Support Question
For support questions, please use one of these channels:
Gitter: https://gitter.im/dalelotts/angular-bootstrap-datetimepicker
Stack Overflow: http://stackoverflow.com/search?q=angular-bootstrap-datetimepicker

[2017-08-03 14:43] #392 closed

[2017-08-12 18:43] darkguy2008 commented on #340
Well, there's 8 now, and I'm also waiting :P

[2017-08-16 06:17] yaoyw0727 opened #393 "Inject error in firefox 52.2 32bit, but works well in chrome"
Hi,

I used the angular-bootstrap-datetiempicker in ui-grid to implement an customized filter. I did import the js and css files according tou your guid, and then add module ui.bootstrap.datetimepicker in my application.
After this, it works well in chrome, no errors. But in firefox 52.2 32bit, my application starts failed with inect error like:
![image](https://user-images.githubusercontent.com/2

[2017-08-16 08:23] yaoyw0727 commented on #393
I've fixed this issue by modifying datetimepicker.templates.js.
modify:
angular.module('ui.bootstrap.datetimepicker')      // line 27
to:
angular.module('ui.bootstrap.datetimepicker', [])
In chrome, datetimepicker.js was loaded first, and then datetimepicker.templates.js. But in firefox, the two scripts were loaded almost the same time.

Reference:
![image](https://user-images.githubusercontent.co

[2017-08-17 16:10] dalelotts commented on #393
### This is a Support Question, not a defect.
For support questions, please use one of these channels:
Gitter: https://gitter.im/dalelotts/angular-bootstrap-datetimepicker
Stack Overflow: http://stackoverflow.com/search?q=angular-bootstrap-datetimepicker

Additionally, create a jsbin, fiddle, or some other live version people can look at.

[2017-08-17 16:10] #393 closed

[2017-08-30 18:32] cosbor11 opened #394 "Copy Copy Paste from one date field dropdown to another"
On your example page: [https://dalelotts.github.io/angular-bootstrap-datetimepicker/](https://dalelotts.github.io/angular-bootstrap-datetimepicker/)

If you scroll down to the `Date Range Picker` section. Do the following with your console open:
  1. Select a `Start Date`
  2. Copy that date to your clipboard
  3. Paste it into the the `End Date` input

ISSUE: The following exception is thrown:

[2017-08-31 10:00] pratheekhegde commented on #158
This is how I got it done with the help of `moment`.
[code]

[2017-08-31 19:48] ChrisWorks commented on #340
I am also waiting :)

[2017-09-01 01:29] dalelotts commented on #340
Hey everyone! Sorry about the delay. I was hoping for more of a response than 9. =)

My day job has been keeping me busy (got bills to pay!)

I will get to this and having higher numbers of people saying they will use it will help move this project up the priority list.

[2017-09-03 10:48] marco-gagliardi opened #395 "Question: how to set a timezone for dates, different from the user's one?"
Every time the user picks a date, such date is encoded in the user's timezone.
E.g: the user picks 1st Sept 00.00 and he is in Rome (GMT+2), datetimepicker returns 31 Aug 22.00 Z + 0

How to make datetimepicker use a specific application-wide timezone , regardless  of the user's one, so that everytime a date is picked (or taken from the model and shown in the box) it is always encoded/decoded in t

[2017-09-03 21:06] dalelotts commented on #395
### This is a support Question!
For support questions, please use one of these channels:
Gitter: https://gitter.im/dalelotts/angular-bootstrap-datetimepicker
Stack Overflow: http://stackoverflow.com/search?q=angular-bootstrap-datetimepicker

[2017-09-03 21:06] #395 closed

[2017-09-03 21:06] dalelotts commented on #391
### This is a Support Question!
For support questions, please use one of these channels:
Gitter: https://gitter.im/dalelotts/angular-bootstrap-datetimepicker
Stack Overflow: http://stackoverflow.com/search?q=angular-bootstrap-datetimepicker

[2017-09-03 21:06] #391 closed

[2017-09-03 21:09] dalelotts commented on #394
This is expected since the input box is not formatted and the default date `toString()` format is not a valid input for the date-time picker. I will update the example to allow for copy-paste.

[2017-09-03 21:09] #394 closed

[2017-09-06 20:21] martinmanzo opened #396 "Clear selected date"
Hi, is there any way to clear the selected date?
Other datepickers implement a "clear" button that can be enabled in the options.
Is there any plan to include this?

Thanks

[2017-09-06 21:42] dalelotts commented on #396
### This is Support Question
For support questions, please use one of these channels:
Gitter: https://gitter.im/dalelotts/angular-bootstrap-datetimepicker
Stack Overflow: http://stackoverflow.com/search?q=angular-bootstrap-datetimepicker

You can override the template and provide the necessary functionality yourself. Personally, I don't see why it's needed since deleting the date from the model wi

[2017-09-06 21:42] #396 closed

[2017-09-13 03:41] edgexie commented on #340
I need it too.fighting

[2017-09-13 10:15] fresjitendra opened #397 "manual text input is not possible why?"
i want to enable the text input in field .

![ask](https://user-images.githubusercontent.com/8147360/30372131-8362423e-989a-11e7-9867-64505771cca7.png)

suppose user does not want to select date from pop up . he/she wants to input manually . now , it is not possible

[2017-09-14 14:38] drewboardman commented on #229
I'm trying to get any date I select to be at 8pm UTC. I'm aware that it defaults to 12am.

[code]

Is there a way to do this?

[2017-09-26 13:39] NandoMB commented on #368
Try this @ankitraja21:
[https://stackoverflow.com/a/46427871/8439750](https://stackoverflow.com/a/46427871/8439750)

It works for me 👍

[2017-09-26 13:41] NandoMB commented on #392
Try this @ccarlos009 :
[https://stackoverflow.com/a/46427871/8439750](https://stackoverflow.com/a/46427871/8439750)

It works for me 👍

[2017-09-28 08:33] sreerajsn commented on #68
in angular just use filter ..
model | date : 'yyyy-MM-dd'

[2017-10-03 09:54] isaachinman commented on #395
@dalelotts In fact this is _not_ a support question, as you specifically [answered here](https://stackoverflow.com/questions/32247609/how-to-define-angular-bootstrap-datetimepicker-timezone) that this functionality does not exist. So this would be a feature proposal.

[2017-10-03 10:30] dalelotts commented on #395
It is a question, as the title says.

Feature requests should use this process: https://github.com/dalelotts/angular-bootstrap-datetimepicker/wiki/Requesting-Features

[2017-10-07 12:41] alkahtani opened #398 "get date when navigate from date view into time view"
Is it possible to get selected date every time i navigate from date view to time view , i  know i can get new date value after on set time , i want to to get the selected date before set on time to be able to disable times based on conditional value.

[2017-10-08 08:27] dalelotts commented on #398
### This is a support question!
For support questions, please use one of these channels:
Gitter: https://gitter.im/dalelotts/angular-bootstrap-datetimepicker
Stack Overflow: http://stackoverflow.com/search?q=angular-bootstrap-datetimepicker

[2017-10-08 08:27] #398 closed

[2017-10-10 14:13] Dhinesh23990 opened #399 "Date time picker based on time zone"
Hi,

I want to populate the date and time based on time zone , for  example if my system is in new york time zone , i want populate the date and time based on that time zone can you please help me

[2017-10-10 14:27] dalelotts commented on #399
This is the default behavior.

[2017-10-10 14:27] #399 closed

[2017-10-18 18:54] kshee95k opened #400 "Having trouble disabling specific dates (i.e sunday and thursdays)"
Having trouble disabling specific dates.

 var myAppModule = angular.module('myApp', ['ui.bootstrap.datetimepicker']);
    myAppModule.controller('DatePickerController', ['$scope', function($scope) {
    $scope.disabled = function(date, mode) {
    return ( mode === 'day' && ( date.getDay() === 2 ) );  };
    }]);

I have used the code above and doesnt work. Is there a easy way to do it?

[2017-10-18 19:28] dalelotts commented on #400
### This is a Support Question
For support questions, please use one of these channels:
Gitter: https://gitter.im/dalelotts/angular-bootstrap-datetimepicker
Stack Overflow: http://stackoverflow.com/search?q=angular-bootstrap-datetimepicker

[2017-10-18 19:28] #400 closed

[2017-10-24 18:38] vdevappa opened #401 "How do I change the configuration of angular-bootstrap-datetimepicker dynamically from angular?"
There is no response in Stack Overflow.

https://stackoverflow.com/questions/46914599/how-do-i-change-the-configuration-of-angular-bootstrap-datetimepicker-dynamicall

[2017-10-24 18:49] mleanos commented on #401
Instead of using a method call (which won't create a scope watch), use a scope variable for your configuration object.

[code]

[2017-10-24 18:50] vdevappa commented on #401
Ok. I'll try and let you know if it works.

[2017-10-24 19:34] vdevappa commented on #401
It does not work. Just tried:

`<datetimepicker data-ng-model="MyData.TaskDateFrom" data-datetimepicker-config="fromDatePickerConfig"></datetimepicker>`

Scope variables set:

$scope.fromDatePickerConfig = { dropdownSelector: '#taskDateFrom', minView: 'day', startView: 'day' };
$scope.toDatePickerConfig = { dropdownSelector: '#taskDateTo', minView: 'day', startView: 'day' };

Here's what changes t

[2017-10-24 23:19] #401 closed

[2017-10-24 23:28] dalelotts commented on #401
### This is a Support Question
For support questions, please use one of these channels:
Gitter: https://gitter.im/dalelotts/angular-bootstrap-datetimepicker
Stack Overflow: http://stackoverflow.com/search?q=angular-bootstrap-datetimepicker

[2017-10-24 23:29] dalelotts commented on #397
This is a date-time-picker, not a date-time-input. See [angular-date-time-input](https://github.com/dalelotts/angular-date-time-input) and also [Single Responsibility Principle](https://www.toptal.com/software/single-responsibility-principle)

[2017-10-24 23:29] #397 closed

[2017-10-25 14:30] vdevappa commented on #401
Anyway, the documentation is obscure, so for the benefit of other people who will want to do the same, I am going to explain in detail how to do this:

1) To be able to configure correctly, as per the response to my ticket in github, we need to use a scope level variable to hold the configuration:

    $scope.fromDatePickerConfig = { dropdownSelector: '#taskDateFrom1', minView: 'day', startView: '

[2017-10-25 17:44] dalelotts commented on #401
@vdevappa A pull request for the documentation would be appreciated. I think people will find the documentation easier to find than this comment.

[2017-10-30 04:28] a775691134 opened #402 "how to set default year"
### how to set default year

I need set year to 1990.how to set this? or it can't support it?

[2017-10-30 17:35] #402 closed

[2017-11-08 21:32] toddhd opened #403 "Can this be modified to allow for 24-hour time (e.g. 18:00 vs 6:00pm)?"
### Is this Support Question?
A support question starts with `how`, `why`, or some other statement indicating you are trying to undertand how to use this directive.
For support questions, please use one of these channels:
Gitter: https://gitter.im/dalelotts/angular-bootstrap-datetimepicker
Stack Overflow: http://stackoverflow.com/search?q=angular-bootstrap-datetimepicker

**Support questions will

[2017-11-13 16:51] #403 closed

[2017-11-20 11:50] ExperisITdev commented on #297
@Kesidi , thank you!

[2017-11-20 16:02] dalelotts commented on #297
@ExperisITdev, et al, please don't use the HTML in this issue. Use the examples in the readme

[2017-11-23 10:55] vladimirtsyupko opened #404 "Dropdown is not closed when date is selected with `minView: "day"`"

[2017-11-24 00:02] #404 closed

[2017-11-25 16:41] vladimirtsyupko commented on #404
Why this issue was closed, @dalelotts ?

[2017-11-26 01:59] dalelotts commented on #404
### Bug Reports
**You MUST have a JSBin recreation of the defect or your issue will be CLOSED without explanation.**

[2017-12-05 08:53] 2227068304 opened #405 "how to display chinese"
month week display english how to change them to other language  i already try moment.locale('zh-cn') but it doesn't work

[2017-12-05 08:53] 2227068304 commented on #405
help

[2017-12-05 13:39] #405 closed

[2017-12-05 13:40] dalelotts commented on #405
### This ia a Support Question!
A support question starts with `how`, `why`, or some other statement indicating you are trying to understand how to use this directive.
For support questions, please use one of these channels:
Gitter: https://gitter.im/dalelotts/angular-bootstrap-datetimepicker
Stack Overflow: http://stackoverflow.com/search?q=angular-bootstrap-datetimepicker

[2017-12-12 15:34] TheSassyGourmet opened #406 "How do I display the Datetime value in UTC instead of a local time zone. I am new to both Angular JS and moment.js, and am implementing the Date-time Range picker using this tool."
I am new to both Angular JS and moment.js, and am implementing the Date-time Range picker using this tool.
Not sure how to parse the values so as to display them in UTC instead of my local time zone

[2017-12-12 15:37] #406 closed

[2017-12-27 02:11] dalelotts commented on #340
Status update on this work. I've started working on the new version and the `ngx2` branch is the working branch for this work. If you like, check out that branch and run `npm start` to play around (not much is implemented as of today)

The new version is focusing on improving usability. Adding support for keyboard usage, better A11Y, and styling.

Please comment here with additional feature reques

[2018-01-30 19:17] viaro-vinicio commented on #392
@NandoMB
Hey, what was the solution for this?
I checked stackoverflow answer, but the link went down.

[2018-01-30 21:42] dalelotts commented on #392
The link works for me https://stackoverflow.com/questions/38144400/bootstrap-datetimepicker-not-working-within-modal/46427871#46427871

[2018-01-31 15:47] viaro-vinicio commented on #392
@dalelotts yeah, but I mean the jsfiddle that @NandoMB put as answer, this is down
https://jsfiddle.net/NandoMB/tLpbzkfj/27

[2018-02-01 10:26] Bohumil-Podlesak opened #407 "Accessibility - Keyboard Navigation"
Are there plans to introduce keyboard navigation?
If there are, will the features include:
- the possibility to focus the datetimepicker using the TAB navigation?
- the possibility to navigate in the calendar using the keyboard arrows once it's focused?

[2018-02-01 15:50] dalelotts commented on #407
Absolutely! The next major version for Angular 5+ (still in development) has greatly improved accessibility, which includes keyboard navigation and screen reader support.

I'd love to get some input from users regarding the accessibility of the next version, let  me know if you would like to help.

[2018-02-01 15:50] #407 closed

[2018-02-01 15:53] dalelotts commented on #350
The next major version (for Angular 5+) is built from the ground up with Bootstrap 4.

[2018-02-01 15:59] dalelotts commented on #247
Closing since this is not an issue with 2.0 and later

[2018-02-01 15:59] #247 closed

[2018-02-01 16:01] dalelotts commented on #240
This will not be removed from 1.x, however it will not be included in 2.x

[2018-02-01 16:01] #240 closed

[2018-02-16 06:49] ieshanTapan opened #409 "how can we restrict a user to manually type a Date into the datepicker"
I am using your date picker as  Drop-down Datetime with input box, but I just want the user to pick the date using the date picker . He should not be able to type in the input field and manually provide a date through his keyboard . How can I achieve this.

[2018-02-16 07:03] ieshanTapan commented on #409
Disable ability to change the date manually in input #344
I got my answer at: https://github.com/dalelotts/angular-bootstrap-datetimepicker/issues/344

[2018-02-16 07:03] #409 closed

[2018-02-26 15:24] fbernhard commented on #381
@dalelotts The NPM package angular-bootstrap-datetimepicker contains Angular 1x code, not usable in NGX

[2018-02-26 21:06] dalelotts commented on #381
I have not released the Angular 5.x version of this package as the latest yet - you can get it from npm by running

`npm install --save angular-bootstrap-datetimepicker@next bootstrap moment open-iconic`

I'm just wrapping up some of the final API's, how long until you go to production?

[2018-02-27 15:50] fbernhard commented on #381
@dalelotts Thanks! No hurry, we just wanted to test it out and see if your component fits our needs.

[2018-02-27 16:11] dalelotts commented on #381
@fbernhard let me know your thoughts! You can see the progress of the [2.0 release project here](https://github.com/dalelotts/angular-bootstrap-datetimepicker/projects/1)

[2018-02-27 21:29] pedrotcm commented on #340
I would like it possible to put the datetime picker as if it were an input field. And the hour view is possible to set the start and end time and the interval between the hours as well.

[2018-03-02 10:02] dalelotts opened #410 "Support native Date object in model"

[2018-03-02 10:02] dalelotts opened #411 "Support moment object in model"

[2018-03-02 10:02] dalelotts opened #412 "Support string format in model"

[2018-03-02 10:02] dalelotts opened #413 "validate that maxView is greater than or equal to minView"

[2018-03-02 10:02] dalelotts opened #414 "validate that maxView is greater than or equal to startView"

[2018-03-02 10:02] dalelotts opened #415 "validate that minView is less than or equal to startView"

[2018-03-02 10:03] dalelotts opened #416 "allow developer to override aria-labels of buttons"

[2018-03-02 10:04] dalelotts opened #417 "add ability to set locale for an individual picker"

[2018-03-02 10:04] dalelotts opened #418 "I18N examples"

[2018-03-02 10:05] dalelotts opened #419 "Create example date range picker"

[2018-03-02 10:06] dalelotts opened #420 "add ability to set a specific timezone for an individual picker"
Default to browser timezone if not set.

Timezone is considered in the determination of `.now`, parsing dates from the model, serializing dates to the model, and raising `change` events

[2018-03-02 10:07] dalelotts opened #421 "Write tests that fails if setting focus on .active cell is *not* run outside of Angular"

[2018-03-02 10:07] dalelotts opened #422 "Create site that allows visitor to set desired options and generate valid code the user can copy-paste to their own project"

[2018-03-02 10:08] dalelotts opened #423 "German Translation of documentation"

[2018-03-02 10:49] #350 closed

[2018-03-02 10:49] #390 closed

[2018-03-02 10:57] #381 closed

[2018-03-02 12:56] dalelotts commented on #340
@pedrotcm I will add issues for these enhancements - please feel free to submit PR's for the changes you would like to see.

[2018-03-02 13:03] dalelotts opened #424 "Create examples of overriding ModelComponent providers"
Create some examples that show developers how to override the default ModelComponent providers to provide their own behaviors.

One example might be providing a custom implementation for DlHourModelComponent to have fixed beginning and ending hours and/or hourStep values.

Another example might be a DlYearModelComponent that renders 25 years at a time.

[2018-03-04 05:10] #410 closed

[2018-03-04 05:11] dalelotts commented on #411
@dalelotts dalelotts closed this in eea11be a minute ago

[2018-03-04 05:11] #411 closed

[2018-03-07 21:19] dalelotts opened #425 "AOT build fails"
When using this component and running `ng build --prod`, the follow error is generated

accessible within class 'DlDateTimePickerComponent<D>'

[2018-04-07 12:49] dalelotts opened #427 "Add Hebrew calendar support"
The Hebrew or Jewish calendar is a lunisolar calendar. The Hebrew lunar year is about eleven days shorter than the solar year and uses the 19-year cycle to bring it into line with the solar year, with the addition of an intercalary month every two or three years, for a total of seven times per 19 years.

In Israel, Hebrew calendar used not only for religious purposes but frequently - as an officia

[2018-04-07 12:51] dalelotts opened #428 "Add Hijri calendar support"
The Islamic, Muslim, or Hijri calendar is a lunar calendar consisting of 12 months in a year of 354 or 355 days. It is used to date events in many Muslim countries. It is also used by Muslims to determine the proper days of Islamic holidays and rituals, such as the annual period of fasting and the proper time for the pilgrimage to Mecca.

Implementation steps:
1. Implement model-providers for each

[2018-04-07 13:07] #424 closed

[2018-04-07 13:25] dalelotts commented on #424
See https://dalelotts.github.io/angular-bootstrap-datetimepicker/components/DlDateTimePickerComponent.html#readme

[2018-04-08 05:33] #412 closed

[2018-04-08 05:39] dalelotts commented on #412
:tada: This issue has been resolved in version 2.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/angular-bootstrap-datetimepicker)
- [GitHub release](https://github.com/dalelotts/angular-bootstrap-datetimepicker/releases/tag/v2.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-04-08 05:39] dalelotts commented on #424
:tada: This issue has been resolved in version 2.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/angular-bootstrap-datetimepicker)
- [GitHub release](https://github.com/dalelotts/angular-bootstrap-datetimepicker/releases/tag/v2.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-04-08 12:41] thomasaelbrecht opened #429 "Aot and production build failed"
When I try to build my project with the following command:
[code]

Then I get the following warnings and error:
WARNING in Invalid background value at 252:282. Ignoring.

WARNING in Invalid background value at 276:60084. Ignoring.

ERROR in ../angular-bootstrap-datetimepicker/angular-bootstrap-datetimepicker.ts(104,9): Error during template compile of 'DlDateTimePickerStringModule'
  Function call

[2018-04-08 15:49] dalelotts commented on #429
Thanks for letting me know about this issue. I will release a fix shortly.

[2018-04-08 15:55] dalelotts commented on #429
Related to https://github.com/angular/angular/issues/15587

[2018-04-08 16:28] dalelotts commented on #429
Fixed in 2.2.1

[2018-04-08 18:29] thomasaelbrecht commented on #429
Thanks for the quick solution, I appreciate that a lot!

[2018-04-09 14:15] dalelotts opened #430 "Spanish Translation of documentation"

[2018-04-16 17:52] thomasaelbrecht opened #431 "Setting value throws error"
I get an error when I set the value of a DlDateTimePickerComponent (of type Date) bound with ViewChild with the code below.

[code]

ERROR TypeError: Cannot read property 'viewName' of undefined
    at DlDateTimePickerComponent.set [as value] (angular-bootstrap-datetimepicker.js:716)

Any idea if I am doing something wrong or not?

[2018-04-17 01:25] dalelotts commented on #431
I'm not 100% sure, but I suspect there is something in the configuration or interaction somewhere that is the root cause of this error. In general setting the value works because it is done in the tests.

However, there could be an edge case here but I can't tell from what you have given me. Please create a fiddle or some other simple example that I can look at and run to diagnose the issue.

[2018-04-19 22:43] dalelotts commented on #431
Closing due to no response from @thomasaelbrecht for three days. Will re-open if additional information is added.

[2018-04-19 22:43] #431 closed

[2018-06-14 15:06] Deilan opened #432 "Provide a live demo"
Please provide a live demo / showcase. There's no demo on [Home / demo page](https://dalelotts.github.io/angular-bootstrap-datetimepicker/), just some screenshots at the end.

[2018-06-16 04:45] dalelotts commented on #432
I look forward to your PR adding this functionality. =)

[2018-06-18 14:31] aaa59891 commented on #431
I also had the problem earlier, but I solved it by setting the value in the AfterViewInit hook.

I got the problem when I set the value in onInit, but I found the component has not been created in the onInit hook.

[2018-06-19 20:58] dalelotts commented on #431
@aaa59891 can you tell me more about that? Maybe a code sample?

[2018-06-20 10:00] vir-c commented on #432
hi @dalelotts ,
I have created a live demo at stackblitz with basic functionality [https://stackblitz.com/edit/angularjs-bootstrap-datetimepicker](https://angularjs-bootstrap-datetimepicker.stackblitz.io)

let me know feedback and if missed some important feature
-- Cheers

[2018-06-21 20:57] dalelotts commented on #432
@vir-c It looks good! Thanks! Can you submit a PR to get it working in the readme?

[2018-06-22 13:38] vir-c commented on #432
@dalelotts I have created the pull request, let me know if I should add link at any other place too.

[2018-09-12 10:20] dreamid27 opened #434 "minView in data-datetimepicker-config not working."
Hi dalelots, thank for your awesome plugin. but I'm little difficulty maybe because not much Examples and The documentation not explain detail about how to use it.

I'm Using Angular 6.

So I read about this awesome plugin in version angular 1 / js. but I have problem, is trying to write my code like this.

`<dl-date-time-picker data-ng-model="model2" data-datetimepicker-config="{'minView:'day'}">

[2018-09-12 12:17] dalelotts commented on #434
`data-datetimepicker-config={...}` is not a valid property for this version of this component.

Use `<dl-date-time-picker minView="day"></dl-date-time-picker>`

[2018-09-12 12:18] #434 closed

[2018-10-02 02:08] luisejrobles commented on #430
I'm going to work in this one @dalelotts  👍

[2018-10-02 13:40] dalelotts commented on #430
Awesome! I really appreciate the help!!

[2018-10-06 22:53] #430 closed

[2018-10-07 03:06] luisejrobles commented on #430
Your welcome !

[2018-10-07 15:28] dalelotts opened #436 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-10-07 15:41] dalelotts commented on #436
The last commit should not have triggered a release so I'm going to close this for now.

[2018-10-07 15:41] #436 closed

[2018-10-07 23:47] #422 closed

[2018-10-07 23:47] #432 closed

[2018-10-07 23:50] dalelotts opened #437 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-10-08 00:07] #437 closed

[2018-10-08 00:10] dalelotts opened #438 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-10-08 00:42] #438 closed

[2018-10-17 08:09] dhiraj007 opened #439 "Bootstrap.min.css overwriting my angular material css"
Could you please helf me with this. If i am putting @import '~bootstrap/dist/css/bootstrap.min.css' in a path defined in documnetion(i.e. ./src/styles.css) is overwriting my angular material theme css. all the sonts and stylings are changed.
If i am placing it in its component where it is being used then it now being applied.

let me know if more input is required from my side.

please help thanks

[2018-10-17 13:14] #439 closed

[2019-01-26 06:12] luisejrobles commented on #419
hey @dalelotts 👋
can you please provide me more info so I can do it?
wich is the best format for the example? via markdown file or ts and html files?

[2019-01-26 14:15] dalelotts commented on #419
Hey @luisejrobles 👋 I started working on this a few months ago in the demo repository - see https://github.com/dalelotts/angular-bootstrap-datetimepicker-demo/tree/master/src/app/examples/date-range

Eventually the demo project will be deployed and live for people to use.

[2019-01-28 17:39] dalelotts commented on #419
Hey @luisejrobles I don't see this issue as complete. Right now the little bit I did on this is not visible to users. The only way it helps people is if they can see and use it. Would you like to finish the work for this issue?

[2019-01-29 15:59] luisejrobles commented on #419
I'll work on this this weekend 👍

[2019-03-05 07:31] ReddySk commented on #174
Hello, I have similar problem with jQuery.

I am loading scripts in this order:
[code]

My field code is:
[code]

When click to the field it adds following code into source,
![image](https://user-images.githubusercontent.com/16384565/53787577-a073f200-3f1f-11e9-95be-6d9ba29740c9.png)
but the DIV remain hidden.
![image](https://user-images.githubusercontent.com/16384565/53787852-635c2f80-3f20-11e9-

[2019-03-22 18:22] dalelotts commented on #422
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/angular-bootstrap-datetimepicker)
- [GitHub release](https://github.com/dalelotts/angular-bootstrap-datetimepicker/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-22 18:22] dalelotts commented on #432
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/angular-bootstrap-datetimepicker)
- [GitHub release](https://github.com/dalelotts/angular-bootstrap-datetimepicker/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-22 19:38] dalelotts commented on #419
This is now available in the [demo repo](https://github.com/dalelotts/angular-bootstrap-datetimepicker-demo/) or [stackblitz](https://stackblitz.com/github/dalelotts/angular-bootstrap-datetimepicker-demo)

[2019-03-22 19:38] #419 closed

[2019-04-18 20:47] bodyfarmer commented on #419
Thank for demo. Is it possible to have a demo version without jQuery? jQuery is not listed as a dependency for this module.

[2019-04-20 14:08] dalelotts commented on #419
Hey, @bodyfarmer JQuery is not a dependency of the module, only the demo. I made the demo in the simplest way I thought of at the time. Of course all of the JQuery calls can be replaced with direct DOM api calls.  A Pull Request with the changes you requested would be most welcome.

[2019-05-02 14:19] dhananjayvaidya opened #440 "Getting ERROR in Maximum call stack size exceeded"
## ERROR in Maximum call stack size exceeded When i ng build --prod
Please help me...

[2019-05-02 20:47] ChaudhryAtif commented on #440
I am getting this error as well.

@dalelotts

[2019-05-02 20:50] dalelotts commented on #440
Hey, thanks for the info, but this isn't enough information for me to diagnose. Can either of you provide more information?

[2019-05-02 23:36] ChaudhryAtif commented on #440
I created a new project using `ng new`, and imported the component. Here's the zip: [ngx-bs-dtp-demo.zip](https://github.com/dalelotts/angular-bootstrap-datetimepicker/files/3140259/ngx-bs-dtp-demo.zip)

After downloading, go into directory and run `npm install`, and then `ng build --prod`

[2019-05-03 13:03] dalelotts commented on #440
Thanks @ChaudhryAtif, having a look now.

[2019-05-03 15:37] dalelotts commented on #440
I'm stumped at the moment.

Do you need the input directive? If not, the previous version `2.2.1` does not have this problem.

[2019-05-03 19:09] ChaudhryAtif commented on #440
I was hoping to use the input directive, but didn't have a good example to get it going. There's an example for inline calendar, but not for input / dropdown.

When you get this resolved, can you add an example using the input / dropdown like in [AngularJS version](https://github.com/dalelotts/angularjs-bootstrap-datetimepicker#drop-down-component-with-associated-input-box)?

This might need to be

[2019-05-03 20:36] dalelotts commented on #440
@ChaudhryAtif have a loot at the [demo page](https://stackblitz.com/github/dalelotts/angular-bootstrap-datetimepicker-demo) and the [selectFilter documentation](https://dalelotts.github.io/angular-bootstrap-datetimepicker/components/DlDateTimePickerComponent.html#selectFilter)

[2019-05-03 20:39] dalelotts commented on #440
You can use this version without `--prod` for now. I don't know when I will get this resolved. I'm over my head in `rollup`, barrels, and the TypeScript compiler trying to solve it.

[2019-05-20 17:50] cthrax commented on #440
I've been waiting to see if updates to the angular-cli fix this, but some of the related errors I've seen on The Internet (TM), circular dependencies in lazy loaded modules can cause this issue.

[2019-05-21 02:48] dalelotts commented on #440
@cthrax I looked at this a bit and found the where the infinite loop is happening - basically two imports resolve to the same relative path - I don't recall at the moment the exact line of code (it is fairly easy to find). I don't know enough about ngc at this point to fix either my code or ngc. =)  I'm swamped with paid work for the next several months so I don't expect to work on this any time s

[2019-05-23 05:50] dhananjayvaidya commented on #440
Ok, thanks for the update

On Tue, 21 May 2019 at 08:18, Dale Lotts <notifications@github.com> wrote:

--
Thank You
Dhananjay Vaidya
*Potpie Web Solutions*

[2019-06-04 14:41] edlangjr opened #441 "Angular 8 compatibility missing"
After converting application from angular 7 to angular 8, I am receiving a peer dependency warnings and error indicating problems importing the module.

package.json
    "angular-bootstrap-datetimepicker": "^3.0.0",
    "@angular/animations": "^8.0.0",
    "@angular/common": "^8.0.0",
    "@angular/compiler": "^8.0.0",
    "@angular/core": "^8.0.0",
    "@angular/forms": "^8.0.0",
    "@angular/pl

[2019-06-04 17:17] edlangjr commented on #441
Reverting package to 2.2.1 does work in updated project.

[2019-06-11 13:20] somnathjana50 commented on #440
I am facing same problem => ERROR in Maximum call stack size exceeded when build using --aot=true.Please help

[2019-06-11 14:58] btanmoy commented on #440
I am also facing the same problem in angular 7 .
 @dalelotts if you doest have enough time to resolve this issue with the version 3.0 can you please hire some body or atleast help us about that ?
That will be really appreciating if you do so.

[2019-06-11 16:18] cthrax commented on #440
@btanmoy that's not how open source works. If you would like a fix, you can fix it, or as you suggest you can hire someone to fix it, but open source is created by volunteers and freely distributed. You have all the power and all the pitfalls of a piece of software owned by the community.

[2019-06-11 19:15] dalelotts commented on #441
Not yet tested with Angular 8

[2019-06-25 15:00] somnathjana50 commented on #440
@)dalelotts any updates about the error ERROR in Maximum call stack size exceeded when build using --aot=true.please help

[2019-06-25 18:33] dalelotts commented on #440
I have not looked since my last update. I don't expect to have time to look at this until September at the earliest.

[2019-06-26 06:18] somnathjana50 commented on #440
@)dalelotts thanks for your update.I am waiting for your cooperation because this is very vital issue.thanks again

[2019-06-28 15:48] w5688414 commented on #440
import {DlDateTimePickerChange,DateButton} from 'angular-bootstrap-datetimepicker';

when I import this, I build by ng build --prod --build-optimizer --base-href /admin --deploy-url /admin/

I met the same issue
ERROR in Maximum call stack size exceeded
+ moment@2.24.0
+ angular-bootstrap-datetimepicker@3.0.0
+ open-iconic@1.1.1
+ bootstrap@4.3.1

[2019-07-10 21:05] twu14 commented on #440
I got the same error. I just downgraded to 2.2.1 and replaced my imports with 'DlDateTimePickerDateModule' and it worked.

[2019-07-23 18:06] exedemaio opened #442 "Change language to Spanish"
I am working with angular 7.

I want to change the language to Spanish. I saw that you have to use moment to achieve it but I don't understand where that modification should be made.

[2019-07-25 00:07] dalelotts commented on #442
In the simplest case, call `moment.locale("es");` somewhere early in your code to see the impact it has on this component.

[2019-07-25 00:10] #442 closed

[2019-07-30 00:08] Proantagonist commented on #440
Thank you @twu14, your suggestion worked. A temporary solution that will suffice for the time being!

[2019-07-31 06:12] ashwanigarg opened #443 "how to show already selected date on this picker"
## Before submitting a new issue

Please have a look at [issues marked with the `type: faq` label](https://github.com/dalelotts/angular-bootstrap-datetimepicker/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3A%22type%3A%20faq%22%20).

### Is this a Support Question?
A support question starts with `how`, `why`, or some other statement indicating you are trying to understand how to use this component.

[2019-07-31 15:52] #443 closed

[2019-08-05 07:54] suchrita opened #444 "How can I disable future dates ?"

[2019-08-05 11:52] #444 closed

[2019-08-06 13:18] swbhalla commented on #188
When to call this timepickerBeforeRender function ?

[2019-08-21 13:20] Ameerpappay commented on #440
That worked fine

[2019-08-22 04:04] Ameerpappay commented on #440
I have done as u said but now how to use it as a component?

[2019-10-09 14:14] redent commented on #440
Downgrading to 2.2.1 solved the issue for me. Thanks.

[2019-11-01 16:58] kernyden commented on #440
yeap, 2.2.1 is worked.

[2019-11-04 16:21] dalelotts commented on #440
:tada: This issue has been resolved in version 3.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/angular-bootstrap-datetimepicker)
- [GitHub release](https://github.com/dalelotts/angular-bootstrap-datetimepicker/releases/tag/v3.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-04 18:58] dalelotts commented on #440
Does not seem to be fixed - published module does not behave the same as local

[2019-11-05 22:10] #440 closed

[2019-11-05 22:15] dalelotts commented on #440
:tada: This issue has been resolved in version 3.0.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/angular-bootstrap-datetimepicker)
- [GitHub release](https://github.com/dalelotts/angular-bootstrap-datetimepicker/releases/tag/v3.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-06 01:14] dalelotts commented on #440
My testing shows this is fixed now. Sorry about the delay.

[2019-11-06 11:25] cthrax commented on #440
@dalelotts thanks! I attempted to fix this and couldn't get the local build to exhibit the issue. It was a head scratcher. So did you have index files causing issues with the full path imports?

[2019-11-06 13:05] dalelotts commented on #440
Hey @cthrax, I agree, it was a real head scratcher. No stack trace, nothing helpful from the error message, does not happen in `this` project, and only happens in projects that consume this module.

I'll try to explain...I found a few comments that when a webpack project is building all of the imports must come from the same `barrel` - I tried countless variations and eventually settled on the sim

[2019-11-10 18:49] peterweb2005 opened #447 "Demo page failed open"
#### What is the expected behavior?
shows demo

#### What is the current behavior?
failed in "The dependencies for this project couldn't be resolved."

#### What are the steps to reproduce?
open demo page in browser
https://stackblitz.com/github/dalelotts/angular-bootstrap-datetimepicker-demo

#### Which versions of angular-bootstrap-datetimepicker, OS, TypeScript, browsers are affected?
newest ve

[2019-11-11 14:49] dalelotts commented on #447
Added this to existing defect for stackblitz https://github.com/stackblitz/core/issues/1099

[2019-11-11 14:49] #447 closed

[2019-11-12 20:46] dalelotts commented on #441
🎉 This issue has been resolved in version 4.0.0 🎉

[2019-11-12 20:46] #441 closed

[2019-11-12 20:48] dalelotts commented on #444
See `selectFilter` in the documentation

[2019-11-15 11:56] konuch opened #448 "Input not re-validated after date selection."
#### What is the expected behavior?
Date input is properly re-validated, when invalid value is replaced by a valid date value using the datepicker.

#### What is the current behavior?
When user manually invalidates date input and error is shown, then enters a valid date value using the date picker, the input field is not re-validated and shows an error.

#### What are the steps to reproduce?
https

[2019-11-15 16:06] dalelotts commented on #448
Thanks, I'm looking at this now.

[2019-11-17 17:20] #448 closed

[2019-11-17 17:25] dalelotts commented on #448
:tada: This issue has been resolved in version 4.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/angular-bootstrap-datetimepicker)
- [GitHub release](https://github.com/dalelotts/angular-bootstrap-datetimepicker/releases/tag/v4.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-17 18:32] dalelotts commented on #448
:tada: This issue has been resolved in version 4.0.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/angular-bootstrap-datetimepicker)
- [GitHub release](https://github.com/dalelotts/angular-bootstrap-datetimepicker/releases/tag/v4.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-18 15:19] dalelotts commented on #447
Related issue started today https://github.com/stackblitz/core/issues/1109

[2019-11-29 08:59] konuch opened #449 "Use dayjs or date-fns instead of Moment.js"
#### Please describe the feature you would like to request.
Remove the moment.js library requirement. Allow usage of different datetime library, if necessary.

#### What is the use-case or motivation for this proposal?
Moment.js is a great library, but it has some problems, one of them being too huge. There are other libraries, like dayjs or date-fns that address moment.js issues and preserve pret

[2019-11-29 21:35] dalelotts commented on #449
I have not actually implemented this myself but it should be done already. I designed this so you  can use any library other than moment. Just write your own implementations of `DlModelProvider` for each of the views using any library you like. Then override the classes I provides with your own providers.

Given that I haven't actually done this, you may run into some issues.

I would happily acce

[2019-12-07 19:54] jenswet commented on #449
@konuch Did you try implementing another library? I have the same "problem". For me the size matters, because the project is deployed on the small ESP8266 storage.

[2020-01-06 19:23] gmiller-in-situ commented on #420
I'm looking into working on this because we need it for our application and I'd rather contribute here than write our own adapter.
Is this still relevant?
Is it okay if it only works with moment-timezone, or do we want people to be able to pass in offsets in "(+-)HHmm"?

[2020-01-06 19:53] dalelotts commented on #420
Hey @gmiller-in-situ thanks for looking into this enhancement. I'm not sure how relevant this feature is/will be for the existing user base but if you will find it helpful I'll work with you to get a PR merged.

I think `moment-timezone` will be fine.

Off the top of my head something like the following seems reasonable.
[code]
This would cause the picker to display and store all dates in the `Ame

[2020-01-08 09:07] jenswet opened #451 "Stackblitz automated configuration generator broken"
#### What is the expected behavior?
Stackblitz should start dev server.

#### What is the current behavior?
Can't find package:angular-bootstrap-datetimepicker

#### What are the steps to reproduce?
Open https://stackblitz.com/github/dalelotts/angular-bootstrap-datetimepicker-demo

#### Which versions of angular-bootstrap-datetimepicker, OS, TypeScript, browsers are affected?
All browsers

#### Is

[2020-01-08 18:10] gmiller-in-situ commented on #420
I've spent some time looking into this, and there are a number of reasons why I'm going to drop this enhancement.

- Moment-timezone is a very large library, and getting it as an optional library that can be included only with a specific module import is looking like way more work than seems worthwhile
- Passing timezones around would cause a lot of refactoring, and it feels like the improvement c

[2020-01-08 18:33] dalelotts commented on #451
this is a Stack Blitz issue (I think). I opened an issue with them in November of 2019 with no response, not sure what else I can do.

[2020-01-08 18:37] dalelotts commented on #420
I'm glad you find it useful and appreciate you posting your code here. How is this called in your project?

[2020-01-08 18:53] gmiller-in-situ commented on #420
This function would be called on the value emitted by the `(change)` of the `dl-date-time-picker`.
The handler function bound to the emitter would look like:
[code]
This moves the time from the timezone-unaware space of the date-time-picker to a timezone-aware space in our code.

[2020-01-09 17:19] dalelotts commented on #420
thanks @gmiller-in-situ - Seems simple enough and I see why there is no need to change this component. I'm glad it all worked out for you.

[2020-01-09 17:25] dalelotts commented on #420
I have a question @gmiller-in-situ, how does that work when the user opens the picker a second time?

It seems like the `selected` date/time would be incorrect from the users perspective, especially when  the applied timezone would result in a different `date` - i.e. applying `Beijing` timezone when the user is in `America/Denver`.  Did you also solve this issue?

[2020-01-09 17:28] gmiller-in-situ commented on #420
Yeah, it doesn't totally solve the issue. When applying a timezone outside of the datepicker, we're ignoring the [(ngModel)]-bound property and instead relying on the value coming out of the (change). So the property bound to the [(ngModel)] is not modified with a timezone.

[2020-01-09 17:39] dalelotts commented on #420
Ah, that makes sense. You made me think of something.

Did you consider supplying your own `DlDateAdapterMoment` that applies / removes the timezone? I'm wondering if this will let you use the [(ngModel)] binding directly.

[2020-01-09 17:42] gmiller-in-situ commented on #420
Yeah I'm considering coming back to this and trying something where you can just pass the picker a moment with a timezone, and it keeps the timezone intact. I think this would be the best way to handle this probably, but I don't yet know how feasible it is.

[2020-01-21 07:51] konuch commented on #449
Sorry for late answer, but unfortunately I haven't managed to solve it. I tried to separate momentJS  from core logic by moving momentJS references to its own module and adapter files and created similar files for dayjs. I had hoped that if I import only these dayJS modules into my app, momentJS library wont be part of the final bundle, but sadly it was. As long as you export files which use momen

[2020-01-21 14:48] dalelotts commented on #449
Hey @konuch thanks for the update. Do you have a fork of this project with your changes that you can share? I'm no expert on tree shaking but I'm happy to have a look and see if I get it working.

[2020-02-12 17:50] dalelotts commented on #451
Seems to be fixed now

[2020-02-12 17:50] #451 closed

[2020-02-12 17:58] Yevhenii-Prodan opened #453 "Error when build prod"
#### What is the expected behavior?

success
#### What is the current behavior?

ERROR in ./node_modules/angular-bootstrap-datetimepicker/fesm5/angular-bootstrap-datetimepicker.js
Module build failed (from ./node_modules/@angular-devkit/build-optimizer/src/build-optimizer/webpack-loader.js):
TypeError: Cannot read property 'kind' of undefined

#### What are the steps to reproduce?

npm run ng buil

[2020-02-12 18:06] jenswet commented on #451
Works, thanks!

[2020-02-12 21:21] dalelotts commented on #453
Hey, there isn't enough information for me to determine what the issue is. Please post a stackblitz

[2020-02-12 21:22] dalelotts commented on #453
Looks like this issue - https://stackoverflow.com/questions/53827570/typeerror-cannot-read-property-kind-of-undefined-at-getassignmenttargetkind

[2020-02-12 21:24] dalelotts commented on #453
A bit of googling links this issue to a mismatch of typescript and angular and maybe a few other things. Closing now. Reopen if you can for sure link it to this project.

[2020-02-12 21:24] #453 closed

[2020-02-24 09:14] Dunsteer opened #455 "First colum as monday"
Is there a way for this picker to display first column as Monday instead of Sunday?

[2020-02-24 09:36] #455 closed

[2020-03-06 14:57] cajaykumar opened #456 "How to remove or hide or disable the right/left arrow icons"
Hi Dalelotts,
I am using the angular-bootstrap-datetimepicker@3.1.0 and we have a requirement to disable the future dates and right arrow icon. I am able to disable the future dates but unable to find how to disable the right arrow icon. I tried providing no classes to rightIconClass input and icon is not visible but when user hover on right icon position, able to click it. Can you please provide

[2020-03-06 17:04] #456 closed

[2020-03-24 21:38] dev-oswld opened #458 "Spanish Translation"
I want to fix some typos in _README-ES_, details matter. More specific the **e2e section**.

[2020-03-25 01:25] dalelotts commented on #458
Okay, I'll look for a Pull Request from you.

[2020-03-25 18:04] dev-oswld commented on #458
Thanks, I'm working on...

[2020-03-27 17:43] #458 closed

[2020-03-27 17:44] dalelotts commented on #449
Waiting for some code from @konuch - will close if no response in the next week or so.

[2020-03-30 20:07] dalelotts commented on #449
I've looked into this and know how to get this component working without `moment`, however, it seem to be more work than would be justified by the small number of requests I have at the moment. ha, ha! =)

Thumbs up the original post of you would like this feature.

[2020-05-02 12:33] Anthony-Breneliere opened #461 "Configured selectFilter is not called until first change on the DateTimePicker"
#### What is the expected behavior?
In the date-range component, if I select a start date, dates on the endDateTimePicker should be disabled.

#### What is the current behavior?
If I select a start date in the startDateTimePicker, no DateButton is disabled in the endDateTimePicker.

This behavior occurs because there is no way the endDateTimePicker's selectFilter could be called.

#### What are th

[2020-07-02 20:02] saharati commented on #397
Hey @dalelotts
I'm also interested in adding the datetime picker to an input element, I checked your other repo but it seems to be too outdated to be used in an angular 9 project?
Could you point me in the right direction to get the datetime picker working as a popup for an input element?

[2020-07-03 12:26] MedZghal opened #463 "swipe in view"
#### Please describe the feature you would like to request.
i am using your datepicker in mobile dev , and i found it a lot useful in my projects, but i want to add some swiping, to change the view , when i read the documentation i found this _onRightClick() and _onLeftClick().
i am using ionic and angular , so i install you package and all work right , and i add some swiping event to handel the s

[2020-07-04 02:44] dalelotts commented on #397
This project is not yet updated for Angular 9. Feel free to submit a PR with the update if you like.
This component works fine as a pop-up and also works for date input now. (this issue is old)

[2020-07-04 02:50] dalelotts commented on #463
@MedZghal  Please create a small sample stackblitz project that has the minimum amount of code to show the problem and I will have a look

[2020-07-04 02:53] dalelotts commented on #461
Please post a stack blitz with the code that demonstrates this issue.

[2020-07-05 06:18] saharati commented on #397
Hey @dalelotts thanks for the response.
I know that this issue is old but the assumed it was still relevant since the examples page contains only the component element.
Now I saw that there's also a directive that can be used for inputs element so i'll be trying that one out.

I'm a beginner when it comes to Angular so if you could provide a small usage example would be great :)

[2020-07-05 17:57] dalelotts commented on #397
@saharati see https://stackblitz.com/github/dalelotts/angular-bootstrap-datetimepicker-demo

[2020-07-05 19:36] saharati commented on #397
Thanks alot @dalelotts works in my angular 9 app :)

[2020-07-05 20:20] dalelotts commented on #397
That awesome, @saharati! Thanks for the update.

[2020-08-28 10:34] byronantak opened #468 "Add ability to override default display format per `DlDateTimeInputDirective`"
#### Please describe the feature you would like to request.
I would like a way to control the format of the date that is displayed on the date picker after a date has been selected

#### What is the use-case or motivation for this proposal?
We want to standardize the way dates are displayed in our current system but the datepicker does not allow us to change the display of the selected date (which

[2020-08-28 17:47] dalelotts commented on #468
https://github.com/dalelotts/angular-bootstrap-datetimepicker#display-of-year-month-day-hour-ampm-and-minute-formats

[2020-09-10 09:00] byronantak commented on #468
I suppose that I should have given more context here, I apologize. Our system is using the date time picker as both a date picker and a date-time picker. We want to standardize the dates but we also want to disable the time display components where the min view is day (no time selection required).

Unfortunately we have date-time pickers and date pickers on the same page, so changing locale settin

[2020-09-10 13:25] dalelotts commented on #468
It's difficult to visualize what you are trying to accomplish. Can you put up a Stackblitz or other live site demonstrating the problem you are trying to solve?

[2020-09-13 09:38] byronantak commented on #468
I created a basic Stackblitz example to demonstrate this. I included descriptions by the fields to try explain what I was saying earlier
https://stackblitz.com/edit/angular-ivy-s1otuu

[2020-09-14 01:10] dalelotts commented on #468
Thank you! I understand now.

[2020-09-14 01:26] dalelotts commented on #468
I'm swamped with work at the moment, so I don't have time to fork and update your example.

However, I'm 99% sure there are no code changes needed for this.  Move the code into a separate component and use the [element level dependency](https://angular.io/guide/dependency-injection-providers) injector to supply the format you want.

[2020-09-14 06:19] byronantak commented on #468
Thank you for the reply 😄

I did not know that you can override dependency tokens tokens in a non-global way.
I will fork my own StackBlitz and make the changes and post it here so that anyone else who finds the issue has a solution

[2020-09-14 07:16] byronantak commented on #468
I created a fork from my StackBlitz which I implemented the fix as suggested.
Thanks again
https://stackblitz.com/edit/angular-ivy-2lghv4

[2020-09-14 18:30] dalelotts commented on #468
I'm glad it worked!

If you have time and interest, a PR to [the demo project](https://github.com/dalelotts/angular-bootstrap-datetimepicker-demo) to add an example showing how to implement and test this would be great.

[2020-09-14 18:30] #468 closed

[2020-09-14 18:32] dalelotts commented on #463
Closing due to lack of response from OP

[2020-09-14 18:32] #463 closed

[2020-09-14 18:34] dalelotts commented on #461
Closing due to lack of response from OP

[2020-09-14 18:34] #461 closed

[2020-12-11 11:02] goremukin opened #472 "Add an event that fires when a user manually selected a date"
#### Please describe the feature you would like to request.
I would like to add a new event `(selected)`, that will let you know when a user selected the date manually

#### What is the use-case or motivation for this proposal?
On my project, I have to do some actions after the user has selected the date manually. The event `(change)` does not suit me, because it is triggered when the date is chan

[2021-10-31 15:38] dalelotts opened #486 "Upgrade Angular 12"
Upgrade Angular 12

#### What is the use-case or motivation for this proposal?
It's been to long since I have updated this project, so I will upgrade to Angular 12+ and add some more features.

#### Is there anything else I should know?
Let me know in the comments below if you have a specific request.

[2021-12-08 14:44] asbush2006 opened #487 "Clear input with used DlDateTimeInputDirective"
Hello! Thanks for your great component at first!
I have question about directive.
In many cases we need quick clear value in input by press button for example. As you can answered in other issue input value must be cleared after ngModel binding value cleared. But if i set model undefined or null value, input stay show old value, it does not update the value.  Pl see here https://stackblitz.com/edi

[2021-12-09 16:36] #487 closed

[2022-01-11 17:13] SmittyShmee opened #488 "Accessibility Update"
#### What is the expected behavior?
when a user is moving about the calendar via a keyboard (or some other a11y device), the calendar needs to set "aria-selected" for the currently selected item and "aria-current" for the current item (day, month, year, whichever).

#### What is the current behavior?
A user can _see_ the currently selected and the current date, but users who are visually impaired

[2022-01-12 02:07] dalelotts commented on #488
Thanks @SmittyShmee! I'm super happy to see a11y testing happening! Sorry I missed this!

I have not verified this but yet but I will shortly.

Can you tell me a bit more:
What version of Angular are you using?
Do you have a timeline where you need this fixed?

[2022-01-12 14:46] SmittyShmee commented on #488
Hello @dalelotts,

The testing was done on an Angular 12 build (12.0.2). The framework we include angular-bootstrap-datetimepicker in will be getting an update to Angular 13 (13.1.1) in the not-to-distant future.

I know there is another round of a11y testing set to be done, just not sure when it's scheduled for.

Thanks.

[2022-01-20 17:39] mariojsnunes commented on #486
Angular 13 is out now :)
Also #449 would be great

[2022-01-20 17:45] dalelotts commented on #486
Thanks for the update - I will upgrade to 13, waiting on a bug in typescript which is already fixed but not used by Angular yet. 🤷‍♂️ Part of that work will be enabling #449

[2022-02-03 06:38] nupurwl opened #491 "when a date is already selected in input box, and user edit the same item then old dates can't be disabled"
#### What is the expected behavior?

#### What is the current behavior?

#### What are the steps to reproduce?
Providing a StackBlitz reproduction is the *best* way to share your issue. <br/>
You can fork the demo on StackBlitz: https://stackblitz.com/github/dalelotts/angular-bootstrap-datetimepicker-demo<br/>

#### Which versions of angular-bootstrap-datetimepicker, OS, TypeScript, browsers are a

[2022-02-03 06:41] nupurwl commented on #491
i am using this in my event management site. When user create an event then older dates are disabled, but on same form, when user edit the same event then older dates are not disabled.

[2022-02-03 19:13] dalelotts commented on #491
Please fill out the bug template completely and post an example of this behavior - as

[2022-02-03 19:13] #491 closed

[2022-07-19 19:10] dalelotts commented on #486
@MarieOlligesgeers It is still planned, but I've have essentially no time for Open Source projects right now.

I have not verified the typescript bug is fixed either.

I'm happy to merge a PR if someone wants to contribute.

[2022-08-08 15:14] patpscl opened #503 "Option to delete the last day row of calendar when it's not within the month"
![image](https://user-images.githubusercontent.com/16852587/183451855-ca3daeed-17e0-4c90-960e-1a3e2d548d45.png)

Neat feature to clean up the last row if it doesn't include any day for the month.

[2022-08-24 10:30] patpscl opened #505 "Keyboard navigation not working"
#### What is the expected behavior?
Keyboard navigation should work

#### What is the current behavior?
Keyboard navigation doesn't seem to work too on stackblitz demo
https://stackblitz.com/github/dalelotts/angular-bootstrap-datetimepicker-demo

#### What are the steps to reproduce?
https://stackblitz.com/github/dalelotts/angular-bootstrap-datetimepicker-demo

[2022-08-24 11:46] dalelotts commented on #505
@patpscl I am unable to reproduce. Please review the tests and documentation to make sure your keyboard interactions are  what is expected by this component.

[2022-08-24 11:46] #505 closed